@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat-bold;
  src: url('./assets/fonts/Montserrat-Bold.woff');
}
@font-face {
  font-family: Montserrat-regural;
  src: url('./assets/fonts/Montserrat-Regular.woff');
}
@font-face {
  font-family: Montserrat-semibold;
  src: url('./assets/fonts/Montserrat-SemiBold.woff');
}

*{
 font-size: 18px;
 font-family: Montserrat-regural;
}

h1, h2, h3{
 font-family: Montserrat-bold;
}

label{
   font-family: Montserrat;
   font-weight: 500;
}

.employeelist table thead th{
  font-size: 16px;
}

.employeelist table tbody tr td{
  font-size: 15px;
  font-weight: 300;
}
.registration-form label,.registration-form input ,.registration-form select,.registration-form textarea {
  font-size: 13px;
}
